<nav class="site-nav"></nav>

    <div class="external-links">
        <a href="{{ site.Params.email }}" target="_blank">Email</a>
        <a href="{{ site.Params.github }}" target="_blank">GitHub</a>
        <a href="{{ site.Params.linkedin }}" target="_blank">LinkedIn</a>
        <a href="{{ site.Params.orcid }}" target="_blank">ORCID</a>

    </div>

    <a class="site-title" href="/">
        <h1>Rowan Lindsay-Smith</h1>
    </a>

    <ul class="menu">

        <li class="dropdown">

            <a href="/software/">Software</a>

            <ul class="dropdown-menu">

                {{ range (where site.RegularPages "Section" "software").ByWeight }}

                    <li>
                        <a href="{{ .RelPermalink }}">
                            {{ .Title }}
                        </a>
                    </li>

                {{ end }}

                <li class="dropdown-divider"></li>

                <li>
                    <a href="/software/">View all software →</a>
                </li>

            </ul>

        </li>

        <li class="dropdown">

            <a href="/research/">Research</a>

            <ul class="dropdown-menu">

                {{ range (where site.RegularPages "Section" "research").ByWeight }}

                    <li>
                        <a href="{{ .RelPermalink }}">
                            {{ .Title }}
                        </a>
                    </li>

                {{ end }}

                <li class="dropdown-divider"></li>

                <li>
                    <a href="/research/">View all research →</a>
                </li>

            </ul>

        </li>

        {{ range site.Menus.main }}

            {{ if or (ne .PageRef "/software") (ne .PageRef "/research") }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ end }}

        {{ end }}

    </ul>

</nav>