<nav class="site-nav">
    <a class="site-title" href="/">

    <img
        class="site-logo"
        src="/img/R.png"
        alt="R">

    <span class="site-title-rest"></span>

    </a>
    <ul class="menu">

        <li class="dropdown">

            <a href="/software/">Software</a>

            <ul class="dropdown-menu">

                {{ range (where site.RegularPages "Section" "software").ByWeight }}

                    <li>
                        <a href="{{ .RelPermalink }}">
                            {{ .Title }}
                        </a>
                    </li>

                {{ end }}

                <li class="dropdown-divider"></li>

                <li>
                    <a href="/software/">View all software →</a>
                </li>

            </ul>

        </li>

                <li class="dropdown">

            <a href="/research/">Research</a>

            <ul class="dropdown-menu">

                {{ range (where site.RegularPages "Section" "research").ByWeight }}

                    <li>
                        <a href="{{ .RelPermalink }}">
                            {{ .Title }}
                        </a>
                    </li>

                {{ end }}

                <li class="dropdown-divider"></li>

                <li>
                    <a href="/research/">View all research →</a>
                </li>

            </ul>

        </li>

        {{ range site.Menus.main }}

            {{ if or (ne .PageRef "/software") (ne .PageRef "/research") }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ end }}

        {{ end }}

    </ul>

    <div class="external-links">

        <a href="{{ site.Params.github }}">GitHub</a>

        <a href="{{ site.Params.linkedin }}">LinkedIn</a>

        <a href="{{ site.Params.orcid }}">ORCID</a>

        <a href="{{ site.Params.email }}">Email</a>

    </div>

</nav>