{{ if or .Params.area .Params.methods .Params.timeline .Params.outputs }}

<dl class="panel metadata-panel">

    {{ with .Params.area }}
    <div class="metadata-row">
        <dt>Area</dt>
        <dd>{{ . }}</dd>
    </div>
    {{ end }}

    {{ with .Params.methods }}
    <div class="metadata-row">
        <dt>Methods</dt>
        <dd>{{ delimit . " · " }}</dd>
    </div>
    {{ end }}

    {{ with .Params.timeline }}
    <div class="metadata-row">
        <dt>Timeline</dt>
        <dd>{{ . }}</dd>
    </div>
    {{ end }}

    {{ with .Params.outcomes }}
    <div class="metadata-row">
        <dt>Outputs</dt>
        <dd>{{ delimit . " · " }}</dd>
    </div>
    {{ end }}

</dl>

{{ end }}